# Spotify API Credentials (Optional but recommended for automatic BPM, Key, and Time Signature lookup)
# Get these by creating an app at https://developer.spotify.com
SPOTIFY_CLIENT_ID=6c8c7a1389bf48248709435b037125a5
SPOTIFY_CLIENT_SECRET=a36bf45690c0477d8ee6c497ebac6af9
